<p id="notice"><%= notice %></p>

<h1>Media Histories</h1>

<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>Track source</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Album art uri</th>
      <th>Title</th>
      <th>Track number</th>
      <th>Num tracks</th>
      <th>Recorded at</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Accuracy</th>
      <th>Altitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_histories.each do |media_history| %>
      <tr>
        <td><%= media_history.media_id %></td>
        <td><%= media_history.track_source %></td>
        <td><%= media_history.album %></td>
        <td><%= media_history.artist %></td>
        <td><%= media_history.duration %></td>
        <td><%= media_history.genre %></td>
        <td><%= media_history.album_art_uri %></td>
        <td><%= media_history.title %></td>
        <td><%= media_history.track_number %></td>
        <td><%= media_history.num_tracks %></td>
        <td><%= media_history.recorded_at %></td>
        <td><%= media_history.latitude %></td>
        <td><%= media_history.longitude %></td>
        <td><%= media_history.accuracy %></td>
        <td><%= media_history.altitude %></td>
        <td><%= link_to 'Show', media_history %></td>
        <td><%= link_to 'Edit', edit_media_history_path(media_history) %></td>
        <td><%= link_to 'Destroy', media_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media History', new_media_history_path %>
